
# │  The properties below are used to create the ImplementationGuide resource. 
# │  For a list of supported properties, see: 
# │  https://fshschool.org/docs/sushi/configuration/#full-configuration
# │  SUSHI will use id as both id and packageId in the IG unless a
# │  specific packageId is also provided in this file. 

id: hl7.fhir.uv.dap
canonical: http://hl7.org/fhir/uv/dap
name: DataAccessPolicies
title: "HL7 FHIR Implementation Guide: Data Access Policies"
description: Data Access Policies.
status: active
license: CC0-1.0
#date: 2020-02-26
version: 1.0.0-current
fhirVersion: 6.0.0-ballot3
copyrightYear: 2023+
releaseLabel: ci-build

extension:
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-wg
    valueCode: sec
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
    valueCode: trial-use
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-fmm
    valueInteger: 1

publisher:
  name: HL7 International / Security
  url: http://www.hl7.org/Special/committees/secure
  email: security-cc@lists.hl7.org


contact:
  - name: John Moehrke
    telecom:
      - system: email
        value: johnmoehrke@gmail.com
        use: work
  - name: Jose Costa Teixeira
    telecom:
      - system: email
        value: jose.a.teixeira@gmail.com
        use: work

jurisdiction: 'http://unstats.un.org/unsd/methods/m49/m49.htm#001'


dependencies:
  hl7.fhir.uv.security-label-ds4p: 
    version: latest
    id: ds4p
    uri: http://hl7.org/fhir/uv/security-label-ds4p/ImplementationGuide/hl7.fhir.uv.security-label-ds4p
  hl7.fhir.uv.extensions.r5:
    version: latest
    id: extensions
    uri: http://hl7.org/fhir/extensions/ImplementationGuide/hl7.fhir.uv.extensions
  
pages:
  index.md:
  non-patient.md:
  consent.md:
  residual.md:
  overriding.md:
  providerDirectoryFineGrain.md:
  fineGrainPatientAccess.md:
  patientDirectory.md:


menu:
  Home: index.html
  Analysis:
    "Simple data analytics" : non-patient.html
    "Consent" : consent.html
    "Residual" : residual.html
    "Overriding" : overriding.html
    "Provider Directory" : providerDirectoryFineGrain.html
    "Fine-Grained Patient Access" : fineGrainPatientAccess.html
    "Patient Directory" : patientDirectory.html
  Artifacts: artifacts.html


# The parameters property represents IG.definition.parameter. Rather
# than a list of code/value pairs (as in the ImplementationGuide
# resource), the code is the YAML key. If a parameter allows repeating
# values, the value in the YAML should be a sequence/array. For a
# partial list of allowed parameters see:
# https://confluence.hl7.org/display/FHIR/Implementation+Guide+Parameters
parameters:
  usage-stats-opt-out: 'false'
  logging: progress
  shownav: 'true'
  active-tables: 'false'
  apply-contact: 'true'
  apply-jurisdiction: 'true'
  apply-publisher: 'true'
  apply-version: 'true'
  apply-wg: 'true'
  propagate-status: 'true'
  pin-canonicals: 'pin-multiples'
  path-resources: 'input/resources'
  additional-resource: 'input/resources/permission/structuredefinition-Permission.xml'
  special-url-base: 'http://hl7.org/fhir'
  generate-uml: 'source'



# The dependencies property corresponds to IG.dependsOn. The key is the
# package id and the value is the version (or dev/current). For advanced
# use cases, the value can be an object with keys for `uri` and `version`.
#dependencies:
#  hl7.fhir.us.core: 3.1.0
#  hl7.fhir.us.mcode:
#    id: mcode
#    uri: http://hl7.org/fhir/us/mcode/ImplementationGuide/hl7.fhir.us.mcode
#    version: 1.0.0

# The global property corresponds to the IG.global property, but it
# uses the type as the YAML key and the profile as its value. Since
# FHIR does not explicitly disallow more than one profile per type,
# neither do we; the value can be a single profile URL or an array
# of profile URLs.
#global:
#  Patient: http://example.org/fhir/StructureDefinition/my-patient-profile
#  Encounter: http://example.org/fhir/StructureDefinition/my-encounter-profile

# The resources property corresponds to IG.definition.resource.
# SUSHI can auto-generate all of the resource entries based on
# the FSH definitions and/or information in any user-provided
# JSON or XML resource files. If the generated entries are not
# sufficient or complete, however, the author can add entries
# here. If the reference matches a generated entry, it will
# replace the generated entry. If it doesn't match any generated
# entries, it will be added to the generated entries. The format
# follows IG.definition.resource with the following differences:
#   * use IG.definition.resource.reference.reference as the YAML key
#   * specify "omit" to omit a FSH-generated resource from the
#     resource list.
#   * groupingId can be used, but top-level groups syntax may be a
#     better option (see below).
# The following are simple examples to demonstrate what this might
# look like:
#resources:
#  Patient/my-example-patient:
#    name: My Example Patient
#    description: An example Patient
#    exampleBoolean: true
#  Patient/bad-example: omit

# Groups can control certain aspects of the IG generation.  The IG
# documentation recommends that authors use the default groups that
# are provided by the templating framework, but if authors want to
# use their own instead, they can use the mechanism below.  This will
# create IG.definition.grouping entries and associate the individual
# resource entries with the corresponding groupIds.
#groups:
#  GroupA:
#    name: Group A
#    description: The Alpha Group
#    resources:
#    - StructureDefinition/animal-patient
#    - StructureDefinition/arm-procedure
#  GroupB:
#    name: Group B
#    description: The Beta Group
#    resources:
#    - StructureDefinition/bark-control
#    - StructureDefinition/bee-sting


